In [2]:
import pandas as pd
import datetime

########################################################################################   Midterm1 exam
unixts = datetime.datetime.fromtimestamp(1539435366)

input_file = "Data/S1/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 1, ExamType = 2)
df_1_TEMP_F = new_df.reset_index(drop=True)
df_1_TEMP_F.columns=['TEMP1','StudentNum','ExamType']
df_1_TEMP_M1=df_1_TEMP_F.drop(0)
df_1_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_1_TEMP_M1))

input_file = "Data/S2/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 2, ExamType = 2)
df_2_TEMP_F = new_df.reset_index(drop=True)
df_2_TEMP_F.columns=['TEMP2','StudentNum','ExamType']
df_2_TEMP_M1=df_2_TEMP_F.drop(0)
df_2_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_2_TEMP_M1))
 
input_file = "Data/S3/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 3, ExamType = 2)
df_3_TEMP_F = new_df.reset_index(drop=True)
df_3_TEMP_F.columns=['TEMP3','StudentNum','ExamType']
df_3_TEMP_M1=df_3_TEMP_F.drop(0)
df_3_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_3_TEMP_M1))

input_file = "Data/S4/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 4, ExamType = 2)
df_4_TEMP_F = new_df.reset_index(drop=True)
df_4_TEMP_F.columns=['TEMP4','StudentNum','ExamType']
df_4_TEMP_M1=df_4_TEMP_F.drop(0)
df_4_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_4_TEMP_M1))

input_file = "Data/S5/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 5, ExamType = 2)
df_5_TEMP_F = new_df.reset_index(drop=True)
df_5_TEMP_F.columns=['TEMP5','StudentNum','ExamType']
df_5_TEMP_M1=df_5_TEMP_F.drop(0)
df_5_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_5_TEMP_M1))

input_file = "Data/S6/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 6, ExamType = 2)
df_6_TEMP_F = new_df.reset_index(drop=True)
df_6_TEMP_F.columns=['TEMP6','StudentNum','ExamType']
df_6_TEMP_M1=df_6_TEMP_F.drop(0)
df_6_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_6_TEMP_M1))

input_file = "Data/S7/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 7, ExamType = 2)
df_7_TEMP_F = new_df.reset_index(drop=True)
df_7_TEMP_F.columns=['TEMP7','StudentNum','ExamType']
df_7_TEMP_M1=df_7_TEMP_F.drop(0)
df_7_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_7_TEMP_M1))

input_file = "Data/S8/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 8, ExamType = 2)
df_8_TEMP_F = new_df.reset_index(drop=True)
df_8_TEMP_F.columns=['TEMP8','StudentNum','ExamType']
df_8_TEMP_M1=df_8_TEMP_F.drop(0)
df_8_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_8_TEMP_M1))
 
input_file = "Data/S9/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 9, ExamType = 2)
df_9_TEMP_F = new_df.reset_index(drop=True)
df_9_TEMP_F.columns=['TEMP9','StudentNum','ExamType']
df_9_TEMP_M1=df_9_TEMP_F.drop(0)
df_9_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_9_TEMP_M1))

 
input_file = "Data/S10/Midterm 1/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 10, ExamType = 2)
df_10_TEMP_F = new_df.reset_index(drop=True)
df_10_TEMP_F.columns=['TEMP10','StudentNum','ExamType']
df_10_TEMP_M1=df_10_TEMP_F.drop(0)
df_10_TEMP_M1['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_10_TEMP_M1))


df_TEMP = df_1_TEMP_M1.join(df_2_TEMP_M1["TEMP2"])
df_TEMP = df_TEMP.join(df_3_TEMP_M1["TEMP3"])
df_TEMP = df_TEMP.join(df_4_TEMP_M1["TEMP4"])
df_TEMP = df_TEMP.join(df_5_TEMP_M1["TEMP5"])
df_TEMP = df_TEMP.join(df_6_TEMP_M1["TEMP6"])
df_TEMP = df_TEMP.join(df_7_TEMP_M1["TEMP7"])
df_TEMP = df_TEMP.join(df_8_TEMP_M1["TEMP8"])
df_TEMP = df_TEMP.join(df_9_TEMP_M1["TEMP9"])
df_TEMP = df_TEMP.join(df_10_TEMP_M1["TEMP10"])

df_TEMP_Midterm1=df_TEMP.reindex(columns= ['ExamType','time','TEMP1','TEMP2','TEMP3','TEMP4','TEMP5','TEMP6','TEMP7','TEMP8','TEMP9','TEMP10'])

######################################################################################################   Midterm 2 exam

unixts = datetime.datetime.fromtimestamp(1541859555)

input_file = "Data/S1/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 1, ExamType = 3)
df_1_TEMP_F = new_df.reset_index(drop=True)
df_1_TEMP_F.columns=['TEMP1','StudentNum','ExamType']
df_1_TEMP_M2=df_1_TEMP_F.drop(0)
df_1_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_1_TEMP_M2))

input_file = "Data/S2/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 2, ExamType = 3)
df_2_TEMP_F = new_df.reset_index(drop=True)
df_2_TEMP_F.columns=['TEMP2','StudentNum','ExamType']
df_2_TEMP_M2=df_2_TEMP_F.drop(0)
df_2_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_2_TEMP_M2))
 
input_file = "Data/S3/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 3, ExamType = 3)
df_3_TEMP_F = new_df.reset_index(drop=True)
df_3_TEMP_F.columns=['TEMP3','StudentNum','ExamType']
df_3_TEMP_M2=df_3_TEMP_F.drop(0)
df_3_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_3_TEMP_M2))

input_file = "Data/S4/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 4, ExamType = 3)
df_4_TEMP_F = new_df.reset_index(drop=True)
df_4_TEMP_F.columns=['TEMP4','StudentNum','ExamType']
df_4_TEMP_M2=df_4_TEMP_F.drop(0)
df_4_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_4_TEMP_M2))

input_file = "Data/S5/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 5, ExamType = 3)
df_5_TEMP_F = new_df.reset_index(drop=True)
df_5_TEMP_F.columns=['TEMP5','StudentNum','ExamType']
df_5_TEMP_M2=df_5_TEMP_F.drop(0)
df_5_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_5_TEMP_M2))

input_file = "Data/S6/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 6, ExamType = 3)
df_6_TEMP_F = new_df.reset_index(drop=True)
df_6_TEMP_F.columns=['TEMP6','StudentNum','ExamType']
df_6_TEMP_M2=df_6_TEMP_F.drop(0)
df_6_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_6_TEMP_M2))

input_file = "Data/S7/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 7, ExamType = 3)
df_7_TEMP_F = new_df.reset_index(drop=True)
df_7_TEMP_F.columns=['TEMP7','StudentNum','ExamType']
df_7_TEMP_M2=df_7_TEMP_F.drop(0)
df_7_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_7_TEMP_M2))

input_file = "Data/S8/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 8, ExamType = 3)
df_8_TEMP_F = new_df.reset_index(drop=True)
df_8_TEMP_F.columns=['TEMP8','StudentNum','ExamType']
df_8_TEMP_M2=df_8_TEMP_F.drop(0)
df_8_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_8_TEMP_M2))
 
input_file = "Data/S9/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 9, ExamType = 3)
df_9_TEMP_F = new_df.reset_index(drop=True)
df_9_TEMP_F.columns=['TEMP9','StudentNum','ExamType']
df_9_TEMP_M2=df_9_TEMP_F.drop(0)
df_9_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_9_TEMP_M2))

input_file = "Data/S10/Midterm 2/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 10, ExamType = 3)
df_10_TEMP_F = new_df.reset_index(drop=True)
df_10_TEMP_F.columns=['TEMP10','StudentNum','ExamType']
df_10_TEMP_M2=df_10_TEMP_F.drop(0)
df_10_TEMP_M2['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_10_TEMP_M2))

df_TEMP = pd.DataFrame()

df_TEMP = df_1_TEMP_M2.join(df_2_TEMP_M2["TEMP2"])
df_TEMP = df_TEMP.join(df_3_TEMP_M2["TEMP3"])
df_TEMP = df_TEMP.join(df_4_TEMP_M2["TEMP4"])
df_TEMP = df_TEMP.join(df_5_TEMP_M2["TEMP5"])
df_TEMP = df_TEMP.join(df_6_TEMP_M2["TEMP6"])
df_TEMP = df_TEMP.join(df_7_TEMP_M2["TEMP7"])
df_TEMP = df_TEMP.join(df_8_TEMP_M2["TEMP8"])
df_TEMP = df_TEMP.join(df_9_TEMP_M2["TEMP9"])
df_TEMP = df_TEMP.join(df_10_TEMP_M2["TEMP10"])

df_TEMP_Midterm2=df_TEMP.reindex(columns= ['ExamType','time','TEMP1','TEMP2','TEMP3','TEMP4','TEMP5','TEMP6','TEMP7','TEMP8','TEMP9','TEMP10'])

################################################################################################  Final exam

unixts = datetime.datetime.fromtimestamp(1544027337)

input_file = "Data/S1/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 1, ExamType = 1)
df_1_TEMP_F = new_df.reset_index(drop=True)
df_1_TEMP_F.columns=['TEMP1','StudentNum','ExamType']
df_1_TEMP_F=df_1_TEMP_F.drop(0)
df_1_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_1_TEMP_F))
 
input_file = "Data/S2/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 2, ExamType = 1)
df_2_TEMP_F = new_df.reset_index(drop=True)
df_2_TEMP_F.columns=['TEMP2','StudentNum','ExamType']
df_2_TEMP_F=df_2_TEMP_F.drop(0)
df_2_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_2_TEMP_F))
 
input_file = "Data/S3/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 3, ExamType = 1)
df_3_TEMP_F = new_df.reset_index(drop=True)
df_3_TEMP_F.columns=['TEMP3','StudentNum','ExamType']
df_3_TEMP_F=df_3_TEMP_F.drop(0)
df_3_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_3_TEMP_F))

input_file = "Data/S4/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 4, ExamType = 1)
df_4_TEMP_F = new_df.reset_index(drop=True)
df_4_TEMP_F.columns=['TEMP4','StudentNum','ExamType']
df_4_TEMP_F=df_4_TEMP_F.drop(0)
df_4_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_4_TEMP_F))
 
input_file = "Data/S5/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 5, ExamType = 1)
df_5_TEMP_F = new_df.reset_index(drop=True)
df_5_TEMP_F.columns=['TEMP5','StudentNum','ExamType']
df_5_TEMP_F=df_5_TEMP_F.drop(0)
df_5_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_5_TEMP_F))
 
input_file = "Data/S6/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 6, ExamType = 1)
df_6_TEMP_F = new_df.reset_index(drop=True)
df_6_TEMP_F.columns=['TEMP6','StudentNum','ExamType']
df_6_TEMP_F=df_6_TEMP_F.drop(0)
df_6_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_6_TEMP_F))
 
input_file = "Data/S7/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 7, ExamType = 1)
df_7_TEMP_F = new_df.reset_index(drop=True)
df_7_TEMP_F.columns=['TEMP7','StudentNum','ExamType']
df_7_TEMP_F=df_7_TEMP_F.drop(0)
df_7_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_7_TEMP_F))
 
input_file = "Data/S8/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 8, ExamType = 1)
df_8_TEMP_F = new_df.reset_index(drop=True)
df_8_TEMP_F.columns=['TEMP8','StudentNum','ExamType']
df_8_TEMP_F=df_8_TEMP_F.drop(0)
df_8_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_8_TEMP_F))
 
input_file = "Data/S9/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 9, ExamType = 1)
df_9_TEMP_F = new_df.reset_index(drop=True)
df_9_TEMP_F.columns=['TEMP9','StudentNum','ExamType']
df_9_TEMP_F=df_9_TEMP_F.drop(0)
df_9_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_9_TEMP_F))
 
input_file = "Data/S10/Final/TEMP.csv"
df = pd.read_csv(input_file)
new_df=df.assign(StudentNum= 10, ExamType = 1)
df_10_TEMP_F = new_df.reset_index(drop=True)
df_10_TEMP_F.columns=['TEMP10','StudentNum','ExamType']
df_10_TEMP_F=df_10_TEMP_F.drop(0)
df_10_TEMP_F['time'] = pd.date_range(unixts, freq='0.25min', periods=len(df_10_TEMP_F))
 
df_TEMP = df_1_TEMP_F.join(df_2_TEMP_F["TEMP2"])
df_TEMP = df_TEMP.join(df_3_TEMP_F["TEMP3"])
df_TEMP = df_TEMP.join(df_4_TEMP_F["TEMP4"])
df_TEMP = df_TEMP.join(df_5_TEMP_F["TEMP5"])
df_TEMP = df_TEMP.join(df_6_TEMP_F["TEMP6"])
df_TEMP = df_TEMP.join(df_7_TEMP_F["TEMP7"])
df_TEMP = df_TEMP.join(df_8_TEMP_F["TEMP8"])
df_TEMP = df_TEMP.join(df_9_TEMP_F["TEMP9"])
df_TEMP = df_TEMP.join(df_10_TEMP_F["TEMP10"])

df_TEMP_Final=df_TEMP.reindex(columns= ['ExamType','time','TEMP1','TEMP2','TEMP3','TEMP4','TEMP5','TEMP6','TEMP7','TEMP8','TEMP9','TEMP10'])

######################################################################################### Combining data from all exams
df_TEMP = df_TEMP_Midterm1.append(df_TEMP_Midterm1)
df_TEMP = df_TEMP.append(df_TEMP_Final)
#########################################################################################
df_TEMP

,ExamType,time,TEMP1,TEMP2,TEMP3,TEMP4,TEMP5,TEMP6,TEMP7,TEMP8,TEMP9,TEMP10
1,2,2018-10-13 08:56:06,22.51,22.63,22.07,21.81,22.23,22.39,22.21,22.61,22.23,22.11
2,2,2018-10-13 08:56:21,22.51,22.63,22.07,21.81,22.23,22.39,22.21,22.61,22.23,22.11
3,2,2018-10-13 08:56:36,22.51,22.63,22.07,21.81,22.23,22.39,22.21,22.61,22.23,22.11
4,2,2018-10-13 08:56:51,22.51,22.63,22.07,21.81,22.23,22.39,22.21,22.61,22.23,22.11
5,2,2018-10-13 08:57:06,22.51,22.63,22.07,21.81,22.23,22.39,22.21,22.61,22.23,22.11
...,...,...,...,...,...,...,...,...,...,...,...,...
93580,1,2018-12-21 17:23:42,26.67,23.17,22.85,NaN,NaN,23.75,NaN,NaN,NaN,NaN
93581,1,2018-12-21 17:23:57,26.67,23.17,22.83,NaN,NaN,23.75,NaN,NaN,NaN,NaN
93582,1,2018-12-21 17:24:12,26.67,23.17,22.83,NaN,NaN,23.75,NaN,NaN,NaN,NaN
93583,1,2018-12-21 17:24:27,26.67,23.17,22.83,NaN,NaN,23.75,NaN,NaN,NaN,NaN
93584,1,2018-12-21 17:24:42,26.67,23.17,22.83,NaN,NaN,23.75,NaN,NaN,NaN,NaN

In [ ]:
#df_TEMP.to_csv("FinalTEMP.csv")